@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
}

/* Global CSS */
p{
  margin-left: 1rem;
}
h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-left:1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 60px;
  margin-left: 1rem;
}
h3 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
  font-weight: 500;
  
}
#w-btn{
  margin-left: 40px;
  background-color: white;
  color:#130b39;
  padding: 9px 30px;
  border-radius: 20px;font-size: 1.2rem;
  font-weight: 500;
  box-shadow: none;
  border: none;
}
#g-btn{
  text-decoration: none;
  background-color: #0f1ab6d7;
  color: white;
  padding: 9px 30px;
  border-radius: 20px;
  cursor: pointer;

}
.sec-space {
  padding: 4rem 0;

}
.extra-space {
  padding-top: 8rem;
}
.obj-width {
  max-width: 1200px;
  margin: auto;
}
/* nav bar */
header{
  background-color:#0d033bea;
  position: fixed;
  top: 0;
  right:0;
  width: 100%;
  z-index: 999;
}

#navbar{
display: flex;
justify-content: space-between;
align-items: center;
height: 80px;
}

#navbar .logo{
  width: 120px;
}

#menu{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
#menu li a{
  color: white;
  text-decoration: none;
  margin-left: 40px;
  font-size: 1.1rem;
  font-weight: 500;
}

#bar{
  color: white;
  display: none;
}

#key{
  font-size: 0.9rem;
  font-weight: 500;
  background-color: rgba(246, 143, 198, 0.734);
  padding: 10px 20px;
  border-radius: 30px;
}
/* hero section */
.hero{
  background-color: #130b39;
}

.hero-box{
 display: flex;
 justify-content: space-between;
 height: 100vh;
 align-items: center;
}

.h-left{
  width: 45%;
  color: white;
}

.h-left p{
  padding: 1.5rem 0;
}

.search{
  position: relative;
}
.search input{
  width: 100%;
  height: 4rem;
  padding: 0 20px;
  border-radius: 35px;
  font-size: 1rem;
  outline: none;
  border:none;
}

.search a{
  position: absolute;
  top:12px;
  right: 20px;
}
.h-right{
  width:50%;
}

.h-right img{
  width: 100%;
  object-fit: cover;
}
 
.features p{
  margin-left: 1rem;
}
.features .fe-box{
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}

.features .fe-box div{
  width: 200px;
  margin-left: 1rem;
}
.features .fe-box img{
width: 50px;
margin-top: 3rem;
margin-left: 2rem;

}

.jobs .job-id{
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
}

.jobs .job-id li{
  padding: 20px 40px;
  cursor: pointer;
  color: black;
}

.jobs .job-id li.active{
  background-color: #040e9dd7;
  color: white;
}

.jobs .jList{
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  border: 1px solid #ccc;
  align-items: center;
  justify-items: start;
  cursor: pointer;
  color: black;
  padding: 2rem 2rem;
}

.jobs .jList:hover{
  background-color: rgba(240, 238, 235, 0.967);
}

.jobs .jList.delete{
  display: none;
}
.jobs .jList img{
  width: 40px;

}

.jobs .jList h3{
  padding-bottom: 0;

}
.trust .t-box{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 2.5rem;
  margin-left: 1rem;
}
.t-box img{

  width: 90px;
  object-fit: cover;
  margin: 1rem 1rem 1rem 0;
}

.team-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.team-container .fL-box{
  border: 1px solid #c1e1d9;
  width: 280px;
  padding: 2rem 0;
 border-radius: 20px;
 margin-top: 3rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.team-container img{
  margin-bottom: 1rem;
  border: 1px solid #c1e1d9;
 width: 100px;
 border-radius: 50%;
}

.skills{
  padding-bottom: 2rem;
}

/* footer part */

footer{
  background-color:#130b39;
  color: white;
  padding: 4rem 0;
}

.top{
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.top img{

  width: 180px;
  margin-bottom: 1rem;
}

.top i{
color: white;
font-size: 2rem;
margin-left: 1rem;
}

.bottom{
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 2rem;
  text-align: start;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bottom div{
  display: flex;
  flex-direction: column;
}

.bottom a{
  text-decoration: none;
  color: white;
  line-height: 35px;
}


/* browes jobs */
.jobs form{
  margin-top: 2rem;
  width: 100%;
  border: 1px solid #040e9dd7;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jobs form i{
  padding-left: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.jobs form input{
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem 0.7rem ;
  font-size: medium;
}



/* contact page */
.contact{
  display: flex;
  align-items: center;
}

.contact-img{
 width: 50%;
}

.contact-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact form{
  max-width: 400px;
}

.contact input, .contact textarea{
  width: 100%;
  margin: 0.6rem 0 1rem 0;
  border-radius: 1px solid #0d033bea;
  padding: 0.7rem 0.5rem;
  font-size: 1.2rem;
}
@media(max-width:1200px){
  .obj-width {
    width: 95%;
  }
}

@media(max-width:699px){
  #menu{
  background-color: white;
    display: block;
    width: 280px;
    height: auto;
    position: absolute;
    top:80px;
   right:-100%;
   padding: 30px 0;
   box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
   border-radius: 15px;
   opacity: 0;
   transition:all 0.3s ease;
  }

  #menu.active{
   right: 10px;
   opacity: 1;
  }

#menu li{
  padding: 1rem;
}
  #menu li a{
color: #130b39;
  }
  #bar{
    display: block;
    font-size: 1.9rem;
    cursor: pointer;
  }

  #w-btn{
    margin: 20px 0 0 50px;
    color: white;
    background-color: #0f0b39d7;
    
  }

  .hero-box{
    flex-direction: column-reverse;
    justify-content: center;
    height: auto;
    align-items: start;
    padding: 8rem 0;;
  }

  .h-left{
    width: 100%;
  }

  .h-right{
    display: none;
  }

  .features .fe-box div{
    width: 40%;
  }

.jobs .job-id{
  position: relative;
  width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.jobs .job-id li{
  padding: 20px 30px;
  text-wrap: nowrap;
}

.jobs-container{
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.jobs .jList{
  width: 49%;
  margin-top: 1rem;
  grid-template-columns: repeat(1,1fr);
  grid-gap:15px;
  border: 1px solid #ccc;
  align-items: center;
  justify-items: start;
  cursor: pointer;
  color: black;
  padding: 2rem 1rem;
  justify-items: center;
  text-align: center;
}

.jobs .jList p{
  margin-left: 0;
}

.team-container .fL-box{
  width: 48%;
  text-align: center;
  border-radius: 1rem;
  margin-top: 1rem;
}

.skills{
  padding-bottom: 1rem;
}

/* footer */

.top i{
  margin: 1rem 1rem 0 1rem;
  
}
.bottom div{
  width: 50%;
  margin-bottom:50px;
  text-align: center;
}

/* contact page */
.contact{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact-img{
  width: 100%;
}
.contact-img img{
  width: 80%;
  height: auto;
}
}